{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'logic/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="flex-column gap-20">
    <div class="container">
    <div class="flex-column gap-20">
        <div class="flex-row">
            <button class="btn" id="import-btn">Import Data</button>
            <button class="btn"><a href="{% url 'logic:create-course' %}"> Add New Course</a></button>
        </div>
        <div class="flex-row flex-column-center space-opposite">
            <select name="" id="">
                <option value="">
                    Sort By Quota +
                </option>
                <option value="">
                    Sort By Quota -
                </option>
            </select>
            <input type="text" name="" id="search-course" class="search-input" placeholder="Search">
        </div>
        <div class="flex-row content-table">
        {% include "logic/input_tables.html" %}
        </div>
        <div class="flex-row flex-end">
            <a href="#result-table" id="run-optimization"><button class="btn">Run Optimization</button></a>
        </div>
    </div>
</div>
<div class="container">
    <h1>RESULT</h1>
    <div class="flex-column gap-20">
        <div class="result-container" id="result-table">

        </div>
    </div>
</div>
</div>
</body>
</html>

<script>
    window.onpopstate = function(event) {
    location.reload();  // sayfayı yeniden yükle
};
</script>

<script>
    function inputTable() {
        $.ajax({
            url: '{% url "logic:input-tables" %}',
            success: function(data) {
                $('.content-table').html(data);
            },
            error: function(xhr, errmsg, err) {
                console.log(errmsg);
            }
        });
    }

    inputTable();
</script>

<script>
    document.getElementById('import-btn').addEventListener('click', function() {
      var input = document.createElement('input');
      input.type = 'file';
      input.accept = '.xlsx'; // Only accept .xlsx files
      input.style.display = 'none';
  
      input.click();
  
      input.addEventListener('change', function(e) {
        var file = e.target.files[0];
        console.log('Selected file:', file);
        
        // Create a FormData object and append the file
        var formData = new FormData();
        formData.append('file', file);
        
        // Add the CSRF token to the FormData
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        
        // Send the file to the backend using AJAX
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '{% url "logic:upload-file" %}'); // Replace with your Django URL
        xhr.onload = function() {
          if (xhr.status === 200) {
            var response = xhr.responseText;
            console.log('Response:', response);
            var jsonResponse = JSON.parse(response);
            console.log(jsonResponse.success)
            if (jsonResponse.success) {
                inputTable();
            }
          } else {
            console.error('Error:', xhr.status);
          }
        };
        xhr.send(formData);
      });
    });
</script>