{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'logic/style.css' %}">
    <link rel="stylesheet" href="{% static 'logic/searchbar.css' %}">
    <link rel="stylesheet" href="{% static 'logic/general.css' %}">

    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"
        integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    ></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js"
        integrity="sha512-wUYbRPLV5zs6IqvWd88HIqZU/b8TBx+I8LEioQ/UC0t5EMCLApqhIAnUg7EsAzdbhhdgW07TqYDdH3QEXRcPOQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    ></script>

</head>
<body>
    <div class="flex-column gap-20">
    <div class="container">
    <div class="flex-column gap-20">
        <div class="flex-row">
            <button class="btn" id="import-btn">Import Data</button>
            <button class="btn"><a href="{% url 'logic:create-course' %}"> Add New Course</a></button>
            <button class="btn"><a href="{% url 'logic:create-classroom' %}"> Add New Classroom</a></button>
        </div>
        <div class="flex-row flex-column-center space-opposite">
            <span class="flex-row gap-0 flex-column-center">
                <input type="text" name="search-client-campaign" id="search-course-value" placeholder="Search Course" class="searchTerm">
                <button type="submit" class="searchButton" id="search-course"><span>🔍</span></button>
            </span>
            <span class="flex-row gap-0 flex-column-center">
                <input type="text" name="search-client-campaign" id="search-classroom-value" placeholder="Search Classroom" class="searchTerm">
                <button type="submit" class="searchButton" id="search-classroom"><span>🔍</span></button>
            </span>
        </div>
        <div class="flex-row content-table">
        {% include "logic/input_tables.html" %}
        </div>
        <div class="flex-row flex-end">
            <a href="#result-table" id="run-optimization"><button class="btn">Run Optimization</button></a>
        </div>
    </div>
</div>
<div class="container">
    <h1>RESULT</h1>
    <div class="flex-column gap-20">
        <div class="result-container" id="result-table">

        </div>
    </div>

    <canvas id="myChart" style="width:100%;"></canvas>
</div>

</div>
</body>
</html>

<script src="{% static 'logic/js/chart.js' %}"></script>

<script>
    function inputTable() {
        $.ajax({
            url: '{% url "logic:input-tables" %}',
            success: function(data) {
                $('.content-table').html(data);
            },
            error: function(xhr, errmsg, err) {
                console.log(errmsg);
            }
        });
    }

    inputTable();
    invisible_chart();
</script>

<script>
    document.getElementById('run-optimization').addEventListener('click', function() {
        $.ajax({
            url: '{% url "logic:run-optimization" %}',
            success: function(data) {
                console.log('çalıştı.')
                if (data.success) {
                    console.log('data success başarılı');
                    $.ajax({
                        url: '{% url "logic:result-table" %}',
                        success: function(data) {
                            $('#result-table').html(data);
                            loadDataChart();
                            visible_chart();
                        },
                        error: function(xhr, errmsg, err) {
                            console.log(errmsg);
                        }
                    });
                }
            },
            error: function(xhr, errmsg, err) {
                console.log(errmsg);
            }
        });
    });
</script>

<script>
    $("#search-classroom").click(function(){
    var searchTerm = $("#search-classroom-value").val();
    $.ajax({
      url: '{% url "logic:input-tables" %}',
      data: {
        'classroom_s': searchTerm
      },
      success: function(data) {
        $('.content-table').html(data);
      }
    });
  });
</script>

<script>
    $("#search-course").click(function(){
    var searchTerm = $("#search-course-value").val();
    $.ajax({
      url: '{% url "logic:input-tables" %}',
      data: {
        'course_s': searchTerm
      },
      success: function(data) {
        $('.content-table').html(data);
      }
    });
  });
</script>

<script>
    document.getElementById('import-btn').addEventListener('click', function() {
      var input = document.createElement('input');
      input.type = 'file';
      input.accept = '.xlsx'; // Only accept .xlsx files
      input.style.display = 'none';
  
      input.click();
  
      input.addEventListener('change', function(e) {
        var file = e.target.files[0];
        console.log('Selected file:', file);
        
        // Create a FormData object and append the file
        var formData = new FormData();
        formData.append('file', file);
        
        // Add the CSRF token to the FormData
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        
        // Send the file to the backend using AJAX
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '{% url "logic:upload-file" %}'); // Replace with your Django URL
        xhr.onload = function() {
          if (xhr.status === 200) {
            var response = xhr.responseText;
            console.log('Response:', response);
            var jsonResponse = JSON.parse(response);
            console.log(jsonResponse.success)
            if (jsonResponse.success) {
                inputTable();
            }
          } else {
            console.error('Error:', xhr.status);
          }
        };
        xhr.send(formData);
      });
    });
</script>

<script>
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener("click", function(e) {
        e.preventDefault();
        document.querySelector(this.getAttribute("href")).scrollIntoView({
            behavior: "smooth"
        });
    });
});
</script>