<div class="table-container">
    <table>
        <tr>
            <th style="width: 25%;">Course Code</th> <!--OK-->
            <th style="width: 25%;">Course Section</th> <!--OK-->
            <th style="width: 25%;">Course Name</th> <!--OK-->
            <th style="width: 25%;">Classroom</th>
        </tr>
        {% for result in results %}
        <tr>
            <td>{{ result.course_code }}</td>
            <td>{{ result.course_section }}</td>
            <td>{{ result.course_name }}</td>
            <td>{{ result.classroom }}</td>
        </tr>
        {% endfor %}
    </table>
</div>